* {
    box-sizing: border-box;
    font-family: Inter;
}

body {
    margin: 0;
    padding: 0;
    background-color: #282D35;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1C1C1C;
    height: 7rem;
    color: #00D9FF;
    padding: 0.5rem 1rem;
}

.nav-item1 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.nav-item1 h2 {
    padding: 0rem 0.5rem;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-list>li {
    padding: 1em;
    font-weight: 600;
    font-size: 1.2rem;
}

.navbar div img {
    width: 4rem;
}

main {
    display: flex;
    flex-direction: column;
    padding: 5rem 5rem;
    align-items: center;
    color: white;
    background-image: url("./images/react-logo-half.png");
    background-repeat: no-repeat;
    background-position: right 90%;
}

.main-header {
    font-size: 4rem;
    margin: 0rem 3rem;
    letter-spacing: -0.05em;
    align-self: baseline;
}

.main-list {
    font-size: 1.2rem;
    letter-spacing: -0.01em;
    font-weight: 100;
    align-self: baseline;
    margin: 1rem 6rem;
}

.main-list>li {
    padding-block: 0.8rem;
    max-width: 80;
}

.main-list>li::marker {
    font-size: 1.5rem;
    color: #00D9FF;
}